.slick-prev{
 left: 0px;
 z-index: 1;
}
.slick-next{
 right: 20px;
}
.slick-prev:before,
.slick-next:before{
 font-size: 43px !important;
}

.slick-track{
     display: flex;
      align-items: center;
}

.head-slider-button-container .slick-prev{
      display: none;
}
.head-slider-button-container .slick-next{
      display: none !important;
}

@media screen and (max-width: 756px) {
.slick-prev,
      .slick-next{
            top: 100%;
      }

     .slick-prev {
           left: 38%;
     }

     .slick-next {
           right: 38%;
     }
     .slick-list{
      padding-bottom: 20px;
     }
     #head-slider-section .slick-track {
           align-items: start;
     }
}