.accordion_wrapper {
  width: 100%;
}
.accordion_container {
  max-width: 870px;
  margin: auto;
  margin-bottom: 20px;
}
.accordion {
  width: 100%;
  background-color: #ffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  background-color: #ffff;
  /* padding: 15px 18px; */
  /* display: none; */
  color: var(--primary-bg-color);
}
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-bg-color);
}
.panel > ul {
  padding: 0px 10px 10px 20px;
  list-style: disc;
}
.panel > ul > li {
  font-size: 14px;
  padding: 3px;
}
.panel > h4 {
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 600;
}

.panel > p {
  font-size: 14px;
}
.panel {
  transition: all 2s;
}

.accordion_wrapper .active .panel {
  display: block;
}

.accordion_container.active {
  border: 2px solid var(--border-color);
}
