/* .offer__section__content h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px !important;
} */
.offer__section__content h2 {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  width: 800px;
}
.application__section__content h2 {
  width: max-content !important;
}
.offer__accordion {
  background: #fff;
  width: 860px;
  color: #333;
  width: 860px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 40px;
}
.offer__accordion span {
  font-weight: 700;
  font-size: 22px;
}
@media only screen and (max-width: 980px) {
  /* For mobile phones: */
  .offer__section__content h2 {
    width: 95% !important;
  }
  .offer__section__content h2 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .offer__accordion {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .offer__section__content h2 {
    width: 95% !important;
  }
  .offer__section__content h2 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .offer__accordion {
    width: 100%;
  }
  .offer__accordion span {
    font-size: 20px;
  }
}

.offer__section_accordion {
  margin-top: 40px;
  width: 100%;
  background-color: #ffff;
  max-width: 860px;
  color: black;
}

.offer__section_accordion > button {
  height: 90px;

  width: 100%;
  background-color: #ffff;
  margin: 0px;
  color: black;
  border: none;
}

.offer__section_accordion > button:hover {
  background-color: #ffff;
  border: none;
}

.offer__section_accordion p {
  margin-bottom: 20px !important;
  font-size: 16px;
}

.offer__section_accordion.active .panel {
  display: block;
}
